h1 Login
form(action='/auth/login', method='post')
	p
		input(type='text', name='username', placeholder='username')
	p
		input(type='password', name='password', placeholder='password')
	p
		input(type='submit')
a(href='/auth/facebook') facebook 
a(href='/auth/kakao') kakao 
a(href='/auth/google') google 
a(href='/auth/naver') naver